<a href="https://colab.research.google.com/github/kumarnikhil936/ArtificialIntelligenceBootcamp/blob/master/ComputingDescriptiveStatisticsWithPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
from sklearn.datasets import load_iris

In [0]:
iris_obj = load_iris() # Load iris dataset

In [7]:
type(iris_obj.data) # ND array

numpy.ndarray

In [9]:
iris_obj.feature_names # 4 features

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [10]:
iris_obj.target_names # 3 classes

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [0]:
# Create dataframes from the data
data = pd.DataFrame(data=iris_obj.data, columns=iris_obj.feature_names, index=pd.Index([i for i in range(iris_obj.data.shape[0])]))
target = pd.DataFrame(data=iris_obj.target, columns=pd.Index(["species"]), index=pd.Index([i for i in range(iris_obj.target.shape[0])]))

In [19]:
# Join labels and features in one dataframe
iris = data.join(target)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [0]:
iris.species.replace({0: "setosa", 1: "versicolor", 2: "virginica"}, inplace=True) # replace number in labels with actual species name

In [26]:
# To perform descriptive statistcs on groups, we need to group the targets
iris_groups = iris.groupby(by="species")

for name, dat in iris_groups:
  print(name, '\n', dat.iloc[:5, 0:4])

setosa
    sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
versicolor
     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
50                7.0               3.2                4.7               1.4
51                6.4               3.2                4.5               1.5
52                6.9               3.1                4.9               1.5
53                5.5               2.3                4.0               1.3
54                6.5               2.8                4.6               1.5
virginica
      sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
100                6.3               3.3                6.0               2.5
101                5.8               2.7                5.1               1.9
102                7.1               3.0                5.9               2.1
103                6.3               2.9                5.6               1.8
104                6.5               3.0                5.8               2.2

In [30]:
iris_groups.count()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,50,50,50,50
versicolor,50,50,50,50
virginica,50,50,50,50

In [31]:
iris.mean()

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [32]:
iris.var()

sepal length (cm)    0.685694
sepal width (cm)     0.189979
petal length (cm)    3.116278
petal width (cm)     0.581006
dtype: float64

In [33]:
iris.max()

sepal length (cm)          7.9
sepal width (cm)           4.4
petal length (cm)          6.9
petal width (cm)           2.5
species              virginica
dtype: object

In [34]:
iris.min()

sepal length (cm)       4.3
sepal width (cm)          2
petal length (cm)         1
petal width (cm)        0.1
species              setosa
dtype: object

In [38]:
iris.quantile(.95)

sepal length (cm)    7.255
sepal width (cm)     3.800
petal length (cm)    6.100
petal width (cm)     2.300
Name: 0.95, dtype: float64

In [39]:
iris.quantile(.75) - iris.quantile(.25) # Interquartile range

sepal length (cm)    1.3
sepal width (cm)     0.5
petal length (cm)    3.5
petal width (cm)     1.5
dtype: float64

In [0]:
# Most of the above will also work on "iris_groups" and will give more granular details

In [41]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [44]:
iris_groups.describe()

           sepal length (cm)                                              \
                       count   mean       std  min    25%  50%  75%  max
species
setosa                  50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor              50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica               50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal width (cm)         ... petal length (cm)       \
                      count   mean  ...               75%  max
species                             ...
setosa                 50.0  3.428  ...             1.575  1.9
versicolor             50.0  2.770  ...             4.600  5.1
virginica              50.0  2.974  ...             5.875  6.9

           petal width (cm)
                      count   mean       std  min  25%  50%  75%  max
species
setosa                 50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor             50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica              50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [46]:
# Manually compute the range of the dataset
def range(s):
  return s.max() - s.min()

iris.iloc[:, :4].apply(range) # pass only the numeric attributes

sepal length (cm)    3.6
sepal width (cm)     2.4
petal length (cm)    5.9
petal width (cm)     2.4
dtype: float64

In [48]:
# iris_groups.apply(range)

# Use aggregate for groups
iris_groups.aggregate(range)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
species,,,,
setosa,1.5,2.1,0.9,0.5
versicolor,2.1,1.4,2.1,0.8
virginica,3.0,1.6,2.4,1.1